In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython-sql) (8.29.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\download\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\omar\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\omar\appdata\roaming\python\python313\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\omar\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\omar\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\omar\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\omar\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.1 MB 2.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.2 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.6 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.12.0 sqlalchemy-2.0.36 sqlparse-0.5.3

WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)

In [12]:
%load_ext sql

In [13]:
%sql sqlite:///database1.db

In [18]:
from prettytable import PrettyTable,DEFAULT

C:\Users\Omar\AppData\Local\Temp\ipykernel_30860\4044812563.py:1: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  from prettytable import PrettyTable,DEFAULT

In [20]:
%%sql

CREATE TABLE IF NOT EXISTS teachers (

id INTEGER PRIMARY KEY,

name TEXT,

subject TEXT

);



INSERT INTO teachers (name, subject) VALUES ('Dr. Ahmed', 'Math');

INSERT INTO teachers (name, subject) VALUES ('Dr. Sara', 'Physics');




SELECT * FROM teachers;

 * sqlite:///database1.db
Done.
1 rows affected.
1 rows affected.
Done.

[(1, 'Dr. Ahmed', 'Math'),
 (2, 'Dr. Sara', 'Physics'),
 (3, 'Dr. Ahmed', 'Math'),
 (4, 'Dr. Sara', 'Physics'),
 (5, 'Dr. Ahmed', 'Math'),
 (6, 'Dr. Sara', 'Physics'),
 (7, 'Dr. Ahmed', 'Math'),
 (8, 'Dr. Sara', 'Physics'),
 (9, 'Dr. Ahmed', 'Math'),
 (10, 'Dr. Sara', 'Physics')]

In [35]:
%%sql

CREATE DATABASE CompanyDB;

USE CompanyDB;

 * sqlite:///database1.db
(sqlite3.OperationalError) near "DATABASE": syntax error
[SQL: CREATE DATABASE CompanyDB;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [22]:
%%sql
CREATE TABLE IF NOT EXISTS Employees (

id INTEGER PRIMARY KEY AUTOINCREMENT,

name TEXT NOT NULL,

age INTEGER,

department TEXT,

salary DECIMAL(10, 2)

);

 * sqlite:///database1.db
Done.

[]

In [23]:
%%sql

CREATE TABLE IF NOT EXISTS teachers (

id INTEGER PRIMARY KEY,

name TEXT,

subject TEXT

);

 * sqlite:///database1.db
Done.

[]

In [24]:
%%sql

INSERT INTO Employees (name, age, department, salary)

VALUES

('John Doe', 30, 'Engineering', 60000.00),

('Jane Smith', 25, 'Marketing', 55000.00),

('Sam Brown', 35, 'HR', 50000.00),

('Emily Davis', 28, 'Engineering', 65000.00);

 * sqlite:///database1.db
4 rows affected.

[]

In [25]:
%%sql

CREATE PROCEDURE AddEmployee(

IN emp_name TEXT,

IN emp_age INTEGER,

IN emp_department TEXT,

IN emp_salary DECIMAL(10, 2)

)

BEGIN

INSERT INTO Employees (name, age, department, salary)

VALUES (emp_name, emp_age, emp_department, emp_salary);

END;

 * sqlite:///database1.db
(sqlite3.OperationalError) near "PROCEDURE": syntax error
[SQL: CREATE PROCEDURE AddEmployee(

IN emp_name TEXT,

IN emp_age INTEGER,

IN emp_department TEXT,

IN emp_salary DECIMAL(10, 2)

)

BEGIN

INSERT INTO Employees (name, age, department, salary)

VALUES (emp_name, emp_age, emp_department, emp_salary);

END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
%%sql

CALL AddEmployee('Alex Turner', 29, 'Engineering', 75000.00);

 * sqlite:///database1.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL AddEmployee('Alex Turner', 29, 'Engineering', 75000.00);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
%%sql

CREATE PROCEDURE UpdateSalary(

IN emp_id INTEGER,

IN new_salary DECIMAL(10, 2)

)

BEGIN

UPDATE Employees

SET salary = new_salary

WHERE id = emp_id;

END;

 * sqlite:///database1.db
(sqlite3.OperationalError) near "PROCEDURE": syntax error
[SQL: CREATE PROCEDURE UpdateSalary(

IN emp_id INTEGER,

IN new_salary DECIMAL(10, 2)

)

BEGIN

UPDATE Employees

SET salary = new_salary

WHERE id = emp_id;

END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [28]:
%%sql

CREATE PROCEDURE GetEmployeeDetails(

IN emp_id INTEGER

)

BEGIN

SELECT * FROM Employees

WHERE id = emp_id;

END;

 * sqlite:///database1.db
(sqlite3.OperationalError) near "PROCEDURE": syntax error
[SQL: CREATE PROCEDURE GetEmployeeDetails(

IN emp_id INTEGER

)

BEGIN

SELECT * FROM Employees

WHERE id = emp_id;

END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
%%sql

CREATE PROCEDURE DeleteEmployee(

IN emp_id INTEGER

)

BEGIN

DELETE FROM Employees WHERE id = emp_id;

END;

 * sqlite:///database1.db
(sqlite3.OperationalError) near "PROCEDURE": syntax error
[SQL: CREATE PROCEDURE DeleteEmployee(

IN emp_id INTEGER

)

BEGIN

DELETE FROM Employees WHERE id = emp_id;

END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [30]:
%%sql

CALL UpdateSalary(1, 70000.00);

 * sqlite:///database1.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL UpdateSalary(1, 70000.00);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
%%sql

CALL GetEmployeeDetails(2);

 * sqlite:///database1.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL GetEmployeeDetails(2);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
%%sql

CALL DeleteEmployee(3);

 * sqlite:///database1.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL DeleteEmployee(3);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
%%sql

SELECT * FROM Employees;

 * sqlite:///database1.db
Done.

[(1, 'John Doe', 30, 'Engineering', 60000),
 (2, 'Jane Smith', 25, 'Marketing', 55000),
 (3, 'Sam Brown', 35, 'HR', 50000),
 (4, 'Emily Davis', 28, 'Engineering', 65000)]

In [18]:
import psycopg2

ImportError: DLL load failed while importing _psycopg: The specified module could not be found.

In [23]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~upyter-client (C:\Users\Omar\AppData\Roaming\Python\Python313\site-packages)

In [25]:
import psycopg2

ImportError: DLL load failed while importing _psycopg: The specified module could not be found.