In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('school.db')
cursor=conn.cursor()

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS students ( id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, age INTEGER, gender TEXT )''')
cursor.execute('''CREATE TABLE IF NOT EXISTS courses ( id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, credits INTEGER )''') 
cursor.execute('''CREATE TABLE IF NOT EXISTS enrollments ( id INTEGER PRIMARY KEY AUTOINCREMENT, student_id INTEGER, course_id INTEGER, grade REAL, FOREIGN KEY(student_id) REFERENCES students(id), FOREIGN KEY(course_id) REFERENCES courses(id))''')

In [5]:
cursor.executemany('INSERT INTO students (name, age, gender) VALUES (?, ?, ?)', [

('Alice', 22, 'F'),

('Bob', 20, 'M'),

('Charlie', 23, 'M')

])


cursor.executemany('INSERT INTO courses (name, credits) VALUES (?, ?)', [

('Math', 3),

('Science', 4),

('History', 2)

])


cursor.executemany('INSERT INTO enrollments (student_id, course_id, grade) VALUES (?, ?, ?)', [

(1, 1, 85),

(1, 2, 90),

(2, 1, 78),

(3, 3, 88)

])

In [9]:
cursor.execute('Select * from students')
print(cursor.fetchall())

[(1, 'Alice', 22, 'F'), (2, 'Bob', 20, 'M'), (3, 'Charlie', 23, 'M')]

In [16]:
#cursor.executescript("Insert into Students values (4,'omar',19,'M')")
cursor.execute('Select * from students')
print(cursor.fetchall())

[(1, 'Alice', 22, 'F'), (2, 'Bob', 20, 'M'), (3, 'Charlie', 23, 'M'), (4, 'omar', 19, 'M')]

In [17]:
cursor.execute('select name from students where age>=20')
print(cursor.fetchall())

[('Alice',), ('Bob',), ('Charlie',)]

In [21]:
cursor.execute('''SELECT s.name, e.grade

FROM students s

JOIN enrollments e ON s.id = e.student_id

WHERE e.grade BETWEEN 80 AND 90''')

print(cursor.fetchall())

[('Alice', 85.0), ('Alice', 90.0), ('Charlie', 88.0)]

In [22]:
cursor.execute("SELECT name, credits FROM courses")

print(cursor.fetchall())

[('Math', 3), ('Science', 4), ('History', 2)]

In [23]:
cursor.execute("SELECT * FROM students ORDER BY age DESC")

print(cursor.fetchall())

[(3, 'Charlie', 23, 'M'), (1, 'Alice', 22, 'F'), (2, 'Bob', 20, 'M'), (4, 'omar', 19, 'M')]

In [ ]:
cursor.execute("SELECT * FROM students join enrollments  ON  ")

In [ ]:
cursor.execute("""select  students.id ,students.name from students join enrollments on students.id = enrollments.student_id
            join courses on enrollments.course_id = courses.id
            where courses.name ='Math' AND enrollments.grade >80 """)

print(cursor.fetchall())
cursor.execute('''select Students.name ,count(enrollments.course_id)
            From students
            join enrollments  on students.id =enrollments.student_id
            Group by Students.id  ''')

print(cursor.fetchall())

[(1, 'Alice')]
[('Alice', 2), ('Bob', 1), ('Charlie', 1)]

: